
body{
    font-family: "Times New Roman", Times, serif;
}
button{
    font-family: "Times New Roman", Times, serif;
}
input{
    font-family: "Times New Roman", Times, serif;
}
.turing_title{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.instructions{
    font-size: 25px;
}

.center-div{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.background{
    background-color: #e8e8e8;
}
/* Editor IDE */
.IDE_editor{
    justify-content: center;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 20px;
}

/* Light Buttons */

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.light-input {
    width: 800px;
    line-height: 50px;
    height: 70px;
    border: 2px solid transparent;
    border-bottom-color: rgb(67, 67, 67);
    padding: .2rem 0;
    padding: 10px 10px 10px 10px;
    outline: none;
    background-color: transparent;
    color: #000000;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 25px;
    margin-top: 10px;
    letter-spacing: 2px;
    margin-bottom: 25px;
   }
   
   .light-input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: hsl(225, 97%, 62%);
   }
   
   .light-input::placeholder {
    color: rgb(61, 61, 61);
   }
   
   .light-input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }

   .dark-input {
    width: 400px;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .dark-input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: rgb(255, 255, 255);
   }
   
   .dark-input::placeholder {
    color: #777;
   }
   
   .dark-input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }

   .light-button {
    padding: 25px 40px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
   }
   
   .light-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .light-button:hover {
    color: #e8e8e8;
   }
   
   .light-button:hover::before {
    width: 100%;
   }
   
/*Dark mode */
.dark-button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #e8e8e8;
    z-index: 1;
    background: #212121;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    cursor: pointer;
  }
  
  .dark-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #e8e8e8;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms
  }
  
  .dark-button:hover {
    color: #212121;
  }
  
  .dark-button:hover::before {
    width: 100%;
  }

.button-bar{
    background-color: #e8e8e8;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    border: 2px solid rgb(61, 61, 61);
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 10px #000000 ;
    box-shadow: 5px 5px 10px rgb(116, 116, 116); /* Add a box shadow */
}

.button-bar::after{
    content: "";
    display: table;
    clear: both;
}

.run_bar{
    background-color: #e8e8e8;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    border: 2px solid rgb(61, 61, 61);
    margin-top: 20px;
    margin-left: 650px;
    margin-right: 650px;
    box-shadow: 10px #000000 ;
    box-shadow: 5px 5px 10px rgb(116, 116, 116); /* Add a box shadow */
}

.flex-container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.block_container:first-child{
    flex: 2;
}

.block_container:last-child{
    flex: 1;
}

.block_container{
    width: 500px;
    height: 500px;
    border: 2px;
    margin: 5px;
    border: 2px solid rgb(61, 61, 61);
    box-shadow: 5px 5px 10px rgb(116, 116, 116); /* Add a box shadow */
}

.label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 25px;
  }
  
  .label:hover,
  .label:focus-within,
  .label:active {
    background: hsla(0, 0%, 80%, .14);
  }
  
  .radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
  }
  
  .radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .radio-input:checked+.radio-design::before {
    transform: scale(0);
  }
  
  .label-text {
    color: hsl(0, 0%, 47%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    transition: .3s;
  }

  .examples_text{
    color: hsl(0, 0%, 11%);
    margin-left: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
  }
  
  .radio-input:checked~.label-text {
    color: hsl(0, 0%, 11%);
  }

  .divider{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-color: hsl(225, 97%, 62%);
  }

  .PB-range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #313131;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .PB-range-slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 8px hsl(225, 97%, 62%);
    transition: 0.3s ease-in-out;
  }
  
  .PB-range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
  }
  
  .PB-range-slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #282828;
    box-shadow: 0px 1px 2px 0px #1F1E241F;
  }
  
  .PB-range-slidervalue {
    font-weight: 600;
  }
  .slider_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 55px; /* Center the container horizontally */
    max-width: 50%; /* Limit the container's width to 80% of the available space */
}

@keyframes loadExampleBreathe {
    from {
        background-color: hsl(225, 95%, 70%);
        border-color: hsl(225, 95%, 70%);
    }
    to {
        background-color: hsl(225, 100%, 86%);
        border-color: hsl(225, 100%, 86%);
    }
    
}

.square {
    height: 50px;
    width: 50px;
    background-color: hsl(0, 0%, 90%);
    margin: 6px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #000711;
    margin-top: 25px;
    box-shadow: 5px 5px 10px rgb(116, 116, 116);
    border: 2px solid black;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid hsl(225, 97%, 62%);
    margin-bottom: 25px;
}

.center {
    margin:auto;
    width: 0%;
}

.machineDiv {
    display: flex;
    justify-content: center;
}

.credits{
    color: hsl(0, 0%, 11%);
    margin-left: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    margin-top: 25 px;
}

.margin-top{
    margin-bottom: 50px;
}